<span class="fas fa-user-lock"></span> <b>GPG Signing:</b> 2DE6943033177727<br/>
<span class="fas fa-user-lock"></span> <b>GPG Email:</b> 071D87870E06E73D
<br/><br/>
A seasoned Linux systems administrator, C/C++/Rust/Ruby developer, DevOps engineer, and open source juggernaut.
<br/><br/>
I am also quite fond of <a href="https://haiku-os.org" target="_BLANK">Haiku</a>, an operating system inspired by the BeOS.
